@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

@media screen and (min-width: 968px) {
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }

    .home__img {
        width: 469px;
    }

    .home__container {
        column-gap: 5rem;
    }
}

/*========== MEDIA QUERIES ==========*/

/* For full-screen images on small screens */
@media screen and (max-width: 359px) {
    .home__img {
        width: 100%;
    }
}

@media screen and (min-width: 576px) {

    .home__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .home__container {
        padding: 5rem 0 0;
    }

    .home__img {
        order: 1;
    }

    .home__img {
        width: 100%;
    }
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .section {
        padding-top: 7rem;
    }


    .change-theme {
        position: initial;
        margin-left: var(--mb-4);
    }

    .home__container {
        padding: 7rem 2rem 0;
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .header__img {
        width: 40px;
        height: 40px;
    }

    .header__img img {
        width: 45px;
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }

    .show {
        width: calc(var(--nav-width) + 156px);
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px);
    }
}

@media (max-width:991px) {
    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .contact-info {
        margin-bottom: 40px;
    }

    .container .contact-info,
    .contact-form {
        width: 100%;
    }
}